:root {
  --light-text1: #111517;
  --light-text2: #808080;
  --bg-light: #fcfcfc;
  --bg-hover-light: #f0f0f0;

  --white: #ffffff;
  --bg-dark1: #202c36;
  --bg-dark2: #2b3844;
  --bg-hover-dark: #546b80;

  --text-error: #fb2c36;

  /* --shadow: 1px 1px 4px 2px rgba(128, 128, 128, 0.1); */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--bg-light);
    --background-secondary: var(--white);
    --background-hover: var(--bg-hover-light);
    --text-color: var(--light-text1);
    --text-color2: var(--light-text2);

    --shadow: 1px 1px 4px 2px rgba(128, 128, 128, 0.1);
  }
}

body.light {
  --background: var(--bg-light);
  --background-secondary: var(--white);
  --background-hover: var(--bg-hover-light);
  --text-color: var(--light-text1);
  --text-color2: var(--light-text2);

  --shadow: 1px 1px 4px 2px rgba(128, 128, 128, 0.1);
}

body.dark {
  --background: var(--bg-dark1);
  --background-secondary: var(--bg-dark2);
  --background-hover: var(--bg-hover-dark);
  --text-color: var(--white);
  --text-color2: var(--white);

  --shadow: none;
}

/* BASIC RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
  font-size: 1.6rem;
  background-color: var(--background);
}

.container {
  width: 88%;
  margin: 0 auto;
}

/* 1536px */
@media only screen and (min-width: 96em) {
  .container {
    width: 85%;
  }
}

.error {
  color: var(--text-error);
  text-align: center;
  margin-top: 10rem;
}

.error h2 {
  font-size: 4rem;
}

.error p {
  font-size: 2.4rem;
}

.loading {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: black;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
