.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26.4rem, auto));
  justify-content: center;
  gap: 7.2rem;

  list-style: none;
  margin-bottom: 5rem;
}

.card {
  width: 26.4rem;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--background-secondary);
}

.link {
  text-decoration: none;
  color: inherit;
}

.image-box {
  position: relative;
  width: 100%;
  height: 16rem;
}

.image-box img {
  display: block;
}

.text-box {
  padding: 2.4rem 2.4rem 4.8rem;
  font-size: 1.4rem;
}

.text-box h2 {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.text-bold {
  font-weight: 600;
}

.text-box p:not(:last-child) {
  margin-bottom: 0.8rem;
}

/* 678px */
@media only screen and (max-width: 42.375em) {
  .cards {
    gap: 4rem;
  }
}
