.search-filter {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  position: relative;
}

.search-bar input {
  font-family: inherit;
  font-size: 1.4rem;
  color: var(--text-color);
  background-color: var(--background-secondary);
  width: 48rem;
  height: 5.6rem;
  padding: 0 3.2rem 0 7.35rem;
  outline: none;
  cursor: pointer;

  border-radius: 0.5rem;
  border: none;
  box-shadow: var(--shadow);
}

.search-bar input:hover,
.search-bar input:focus {
  background-color: var(--background-hover);
}

.search-bar input::placeholder {
  color: var(--text-color2);
}

.search-btn {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  transform: translateY(-50%);
  cursor: pointer;

  background: none;
  border: none;
}

.search-icon {
  width: 1.75rem;
  height: 1.75rem;
  color: var(--text-color2);
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  .search-filter {
    margin-top: 4rem;
  }
}

/* 765px */
@media only screen and (max-width: 47.8125em) {
  .search-filter {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 2.2rem;
    margin-bottom: 4rem;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 3.8rem;
  }

  .search-bar input {
    width: 100%;
    height: 4.8rem;
    font-size: 1.2rem;
  }

  .search-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
