.detail-container {
  margin-bottom: 5.6rem;
  display: flex;
  justify-content: center;
}

.country-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.image-box {
  max-width: 56rem;
  aspect-ratio: 7/5;
  border-radius: 0.8rem;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  box-shadow: var(--shadow);
}

.details {
  max-width: 60rem;
}

.details h2 {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.4rem;
  line-height: 1.4;
}

.info span {
  font-weight: 600;
}

.info .info-left,
.info .info-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.language {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
}

.border-countries span:first-child {
  font-weight: 600;
  white-space: nowrap;
}

.border-links {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: inherit;
  background-color: var(--background-secondary);
  font-size: 1.4rem;
  width: 9.6rem;
  height: 2.8rem;
  border-radius: 0.2rem;
  box-shadow: var(--shadow);
  transition: all 0.2s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  transform: translateY(-2px);
}

.link:active {
  transform: translateY(0);
}

/* 1280px */
@media only screen and (max-width: 80em) {
  .country-box {
    gap: 5rem;
  }
}

/* 1200px */
@media only screen and (max-width: 75em) {
  .country-box {
    flex-direction: column;
    gap: 5.6rem;
  }

  .image-box {
    width: 100%;
    max-width: 60rem;
  }

  .info {
    margin-bottom: 2.4rem;
  }
}

/* 580px */
@media only screen and (max-width: 36.25em) {
  .details h2 {
    margin-bottom: 1.6rem;
    font-size: 2.4rem;
  }

  .info {
    flex-direction: column;
    gap: 3.2rem;
    margin-bottom: 3.2rem;
    font-size: 1.4rem;
  }

  .country-box {
    gap: 4.8rem;
  }

  .link {
    font-size: 1.2rem;
  }
}
